@import url('colors.css');

/* Quem somos */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quemSomos {
  margin-top: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  max-width: 1200px;
  flex-wrap: wrap;
}

.quemSomos img {
  width: 45%;
  max-width: 500px;
  border-radius: 8px;
}

.quemSomos .texto {
  flex: 1;
  min-width: 280px;
  color: var(--color-text-secondary);
}

.quemSomos .texto h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

.quemSomos .texto p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
  max-width: 500px;
}

/* Seção segunda */
.quemSomos-second {
  display: flex;
  background-color: var(--color-text-secondary);
  width: 100%;
  margin-top: 5%;
  border-block: var(--border-width) dashed var(--color-bg-card);
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/* Cards equipe */
.cards {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 10vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-text-primary);
  width: 20vw;
  height: 62vh;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  padding: 5px;
  text-align: center;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid var(--color-text-secondary);
  padding-bottom: 0.1rem;
}

.card p {
  font-size: 1.2rem;
  padding: 0 5px;
}

/* Equipe */
.equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10vh;
}

.equipe h2 {
  color: var(--color-text-primary);
  font-size: 2.5rem;
}

.integrante {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrante img {
  width: 14vw;
  height: 32vh;
}

.integrante h3 {
  color: var(--color-text-primary);
}
