/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
}

/* Navbar */

.desktopNav {
    position: fixed;
    background-color: #FF670A;
    width: 4vw;
    height: 100%;

    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
}

.desktopNav:hover {
    z-index: 999;
}

.desktopNav img {
    width: 70%;
    height: auto;
    transition: 0.3s ease;
    border-radius: 8px;
    padding: 0.3vw;
}

.desktopNav .navButtons img:hover {
    cursor: pointer;
    width: 90%;
    background-color: #ffa794;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.desktopNav .logo {
    margin-bottom: 1.5vw;
    width: 90%;
    height: auto;
}


.desktopNav .navButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-top: 1vw;
}

.desktopNav .navButtons .navButton {
    display: flex;
    justify-content: center;
}

.selected {
    padding: 0.5vw;
    background: linear-gradient(to bottom, #FF0000, #FF670A);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tooltipNav {
    position: relative;
    display: inline-block;
}


.tooltipNav .tooltiptextNav {
    visibility: hidden;

    position: absolute;
    top: +0.5vw;
    left: 125%;
    z-index: 999;


    width: 0px;
    padding: 0px 1vw;
    border-radius: 5px;

    background-color: #FF670A;

    color: #ffffff;
    text-align: center;
    font-size: 0px;
}

.tooltipNav:hover .tooltiptextNav {
    visibility: visible;
    width: 12vw;
    font-size: 1vw;
    transition: .4s ease;
}

.headerTop {
    padding-left: 5vw;
    padding-right: 3vw;
    width: 100%;
    padding-top: 0.8vw;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
}

.headerTop img {
    width: 100%;
}

/* Modal */
.modal {
    height: fit-content;
    min-height: 70vh;
    width: 40vw;
    background-color: #FF670A;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.modal-geral {
    width: 80%;
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.modal-label {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: start;
    margin-bottom: 10px;
}

.modal-label input {
    border: none;
    height: 20%;
    border-radius: 5px;
    background-color: #ff9f64;
    padding: 5px;
}

.modal-label-comp {
    display: flex;
    gap: 10px;
    height: 100%;
    justify-content: center;
}

.modal-label-comp input {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #ff9f64;
    padding: 5px;
}

.modal-button {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.modal-button div {
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.modal-button div:hover {
    cursor: pointer;
    background-color: #313030;
}

.modal-button svg {
    color: white;
}

/* Alerts */
.geralInfo {
    margin-left: 1vw;
    display: flex;
    gap: 1vw;
    padding-top: 10px;
}

.user {
    display: flex;
}

.user:hover {
    cursor: pointer;
    display: flex;
}

.user img {
    width: 2.8vw;
    border-radius: 40px;
}

.headerTop .info {
    display: flex;
}

.headerTop .info .bell {
    width: 3.0vw;
    background-color: #313030;
    border-radius: 5px 0px 0px 5px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
}

.headerTop .info .risk {
    width: 2.5vw;
    background-color: #ff3131;
    border-radius: 0px 0px 0px 0px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.headerTop .info .atention {
    width: 2.5vw;
    background-color: #ffba31;
    border-radius: 0px 5px 5px 0px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.headerTop .info .server {
    width: 3.0vw;
    background-color: #313030;
    border-radius: 5px 0px 0px 5px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
}

.headerTop .info .serversMonitoring {
    width: 2.5vw;
    background-color: #4B4343;
    border-radius: 0px 5px 5px 0px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.tooltipInfo {
    position: relative;
    display: inline-block;
}


.tooltipInfo .tooltiptextInfo {
    visibility: hidden;

    position: absolute;
    top: +3vw;
    z-index: 1;


    width: 0px;
    padding: 0px 1vw;
    border-radius: 5px;

    background-color: #000000;

    color: #ffffff;
    text-align: center;
    font-size: 0px;
}

.tooltipInfo:hover .tooltiptextInfo {
    visibility: visible;
    min-width: 15vw;
    font-size: 0.9vw;
    transition: .3s ease;
}


.userInfo {
    padding-left: 0.5vw;
}

#userNome {
    font-size: 1vw;
}

#userCargo {
    font-size: 0.7vw;
    color: #201010;
}

.top-boxes-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 35px;
    padding-left: 5vw;
    padding-right: 1vw;
}

.info-box {
    background-color: #ff3333;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    text-align: center;
    min-width: 250px;
}

.info-box .label {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.info-box .value {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}

.container {
    margin-left: 6vw;
    margin-right: 1.5vw;
}

.resumo {
    background-color: #2b2b2b;
    height: min-content;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 1rem;
    border-radius: 10px;
}

.resumoKPIs {
    display: flex;
}

.resumoCardKPI {
    display: flex;
    width: auto;
    gap: 2rem;
}

.resumoCard {
    width: 15rem;
    height: 6rem;
    background-color: #3f3f3f;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resumoCardHour {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.titleHour {
    font-size: 34px;
    font-weight: bold;
    color: #ff9f64;
}

.ccuHour {
    color: black;
    padding: 10px 10px;
    background-color: #FF670A;
    width: 8rem;
    margin: 0 auto;
    border-radius: 10px;
}

.resumoSituacao {
    background-color: #823d00;
}

.listsContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.listOutside {
    width: 100%;
    margin-bottom: 2rem;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.listInside {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #2B2B2B;
    height: 30rem;
    overflow-y: scroll;
}

.listGridHeader {
    display: grid;
    grid-template-columns: 25% 35% 15% 25%;
    text-align: center;
    font-weight: bold;
    background-color: #3f3f3f;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.listGridHeader_one {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    text-align: center;
    font-weight: bold;
    background-color: #3f3f3f;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    position: relative;
    display: grid;
    grid-template-columns: 25% 35% 15% 25%;
    background-color: #404040;
    text-align: center;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 5px;
    transition: background-color 0.3s;
    overflow: hidden;
}

.card:hover {
    background-color: #555555;
}

.card_one {
    position: relative;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    text-align: center;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 5px;
    overflow: hidden;
}

.bgLayer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.blurLayer {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
    pointer-events: none;
}

.card_one:hover {
    background-color: #555555;
}

.listFoto {
    background-color: #D9D9D9;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
position: relative;
    z-index: 2;
}

.listFoto_One {
    background-color: #D9D9D9;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.listFoto_One img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.listFoto img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.listNome,
.listPontuacao,
.listCCU {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

::-webkit-scrollbar {
    width: .2vw;
}

::-webkit-scrollbar-thumb {
    border-radius: .2vw;
    background: linear-gradient(180deg, #FF6D4D 0%, #ff0f46 100%);
}

.graficos {
    margin: 5rem 0rem;
}