.grafic-conteiner{
    position: relative;
    left: 8dvw;
    top:-5vh; 
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.grafics {
    position: relative;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.linha{
    background-color: #414141;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.barra, #graficoArea {
    width: 600px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    border-radius: 20px;
}

.filtro {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 62vh;
    left: 34vw;

    width: 10vw;
    height: 5vh;

    text-align: center;

    background-color: #414141;
    color: white;
    border-radius: 10px;
}

.filtroPeriodo {
    width: 100%;
    background-color: #414141;
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

select:active {
    border: orange 1px solid;
    color: orange;
}


.grafic1, .grafic2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.KPI {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -1vh;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    border-radius: 10px;
    width: 14vw;
    height: 11vh;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    transition: 0.3s ease-in-out;
}

.KPI:hover {
    
}

.mensagem {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.nome {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.nomeServer {
    display: flex;
    position: relative;
    top: 2vh;
    background-color: #414141;
    border-radius: 20px;
    width: 80%;
    height: 15vh;
    font-weight: 800;
    font-size: 48px;
    justify-content: center;
    align-items: center;
}