.grafic-conteiner{
    position: relative;
    left: 10dvw;
    top:1vh; 
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.grafics {
    position: relative;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.linha{
    background-color: #414141;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.barra, #graficoArea {
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    border-radius: 20px;
    font-size: 24px;
}

.filtro {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 62vh;
    left: 34vw;

    width: 10vw;
    height: 5vh;

    text-align: center;

    background-color: #414141;
    color: white;
    border-radius: 10px;
}

.filtroPeriodo {
    width: 100%;
    background-color: #414141;
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

select:active {
    border: orange 1px solid;
    color: orange;
}


.grafic1, .grafic2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.KPI {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -1vh;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    border-radius: 10px;
    width: 14vw;
    height: 11vh;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    transition: 0.3s ease-in-out;
}

.KPI:hover {
    width: 15vw;
    height: 12vh;
}


.mensagem {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.nome {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.nomeServer {
    display: flex;
    position: relative;
    top: 2vh;
    background-color: #414141;
    border-radius: 20px;
    width: 80%;
    height: 15vh;
    font-weight: 800;
    font-size: 48px;
    justify-content: center;
    align-items: center;
}

.sair {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    transform: translateY(1vh);
    right: 1vw;
}
#sair {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    width: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#sair:hover{
    height: 30px;
    width: 32px;
}

#sair:active {
    background-color: #41414186;
}

.tooltip-container {
    position: absolute;
    bottom: 8px;     
    right: 8px;       
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

.tooltip-icon {
    font-weight: bold;
    color: #fff;
    background-color: #868686;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    display: block;
    transition: 0.3s ease-in-out;
}

.tooltip-icon:hover {
    width: 26px;
    height: 26px;
}

.tooltip-box {
    visibility: hidden;
    opacity: 0;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    font-size: 10px !important;
    font-weight: 500 !important;

    left: 35px;
    top: 2vh;
    transform: translateY(-50%);

    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.tooltip-box::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
}

.tooltip-container:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
}
