@import url('colors.css');

.desktopNav {
    width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.desktopNav img {
    width: 100%;
}

.desktopNav .logo {
    width: 3.42%;
}

/* Alerts */
.desktopNav .alerts {
    display: flex;
    margin-left: 1vw;
}

.desktopNav .alerts .bell,
.desktopNav .alerts .risk,
.desktopNav .alerts .atention {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4vw 0.8vw;
    font-size: 1vw;
    border-radius: 5px;
}

.desktopNav .alerts .risk {
    background-color: #ff3131;
}

.desktopNav .alerts .atention {
    background-color: #ffba31;
}

.desktopNav .alerts .bell {
    background-color: #362f2f;
}