/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
    height: 100dvh;
    overflow: hidden;
}

/* Navbar */

.desktopNav {
    position: fixed;
    background-color: #FF670A;
    width: 4vw;
    height: 100%;

    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
}

.desktopNav:hover {
    z-index: 999;
}

.desktopNav img {
    width: 70%;
    height: auto;
    transition: 0.3s ease;
    border-radius: 8px;
    padding: 0.3vw;
}

.desktopNav .navButtons img:hover {
    cursor: pointer;
    width: 90%;
    background-color: #ffa794;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.desktopNav .logo {
    margin-bottom: 1.5vw;
    width: 90%;
    height: auto;
}


.desktopNav .navButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-top: 1vw;
}

.desktopNav .navButtons .navButton {
    display: flex;
    justify-content: center;
}

.selected {
    padding: 0.5vw;
    background: linear-gradient(to bottom, #FF0000, #FF670A);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tooltipNav {
    position: relative;
    display: inline-block;
}


.tooltipNav .tooltiptextNav {
    visibility: hidden;

    position: absolute;
    top: +0.5vw;
    left: 125%;
    z-index: 999;


    width: 0px;
    padding: 0px 1vw;
    border-radius: 5px;

    background-color: #FF670A;

    color: #ffffff;
    text-align: center;
    font-size: 0px;
}

.tooltipNav:hover .tooltiptextNav {
    visibility: visible;
    width: 12vw;
    font-size: 1vw;
    transition: .4s ease;
}

.headerTop {
    padding-left: 5vw;
    padding-right: 3vw;
    width: 100%;
    padding-top: 0.8vw;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
}

.headerTop img {
    width: 100%;
}

/* Modal */
.modal {
    height: fit-content;
    min-height: 70vh;
    width: 40vw;
    background-color: #FF670A;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.modal-geral {
    width: 80%;
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.modal-label {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: start;
    margin-bottom: 10px;
}

.modal-label input {
    border: none;
    height: 20%;
    border-radius: 5px;
    background-color: #ff9f64;
    padding: 5px;
}

.modal-label-comp {
    display: flex;
    gap: 10px;
    height: 100%;
    justify-content: center;
}

.modal-label-comp input {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #ff9f64;
    padding: 5px;
}

.modal-button {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.modal-button div {
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.modal-button div:hover {
    cursor: pointer;
    background-color: #313030;
}

.modal-button svg {
    color: white;
}

/* Alerts */
.geralInfo {
    margin-left: 1vw;
    display: flex;
    gap: 1vw;
    padding-top: 10px;
}

.user {
    display: flex;
}

.user:hover {
    cursor: pointer;
    display: flex;
}

.user img {
    width: 2.8vw;
    border-radius: 40px;
}

.headerTop .info {
    display: flex;
}

.headerTop .info .bell {
    width: 3.0vw;
    background-color: #313030;
    border-radius: 5px 0px 0px 5px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
}

.headerTop .info .risk {
    width: 2.5vw;
    background-color: #ff3131;
    border-radius: 0px 0px 0px 0px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.headerTop .info .atention {
    width: 2.5vw;
    background-color: #ffba31;
    border-radius: 0px 5px 5px 0px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.headerTop .info .server {
    width: 3.0vw;
    background-color: #313030;
    border-radius: 5px 0px 0px 5px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
}

.headerTop .info .serversMonitoring {
    width: 2.5vw;
    background-color: #4B4343;
    border-radius: 0px 5px 5px 0px;
    padding: 0.4vw 0.8vw 0.4vw 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.tooltipInfo {
    position: relative;
    display: inline-block;
}


.tooltipInfo .tooltiptextInfo {
    visibility: hidden;

    position: absolute;
    top: +3vw;
    z-index: 1;


    width: 0px;
    padding: 0px 1vw;
    border-radius: 5px;

    background-color: #000000;

    color: #ffffff;
    text-align: center;
    font-size: 0px;
}

.tooltipInfo:hover .tooltiptextInfo {
    visibility: visible;
    min-width: 15vw;
    font-size: 0.9vw;
    transition: .3s ease;
}


.userInfo {
    padding-left: 0.5vw;
}

#userNome {
    font-size: 1vw;
}

#userCargo {
    font-size: 0.7vw;
    color: #201010;
}

.top-boxes-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 35px;
    padding-left: 10rem;
    padding-right: 1vw;
}

.info-box {
    background-color: #ff3333;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    text-align: center;
    min-width: 250px;
}

.info-box .label {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.info-box .value {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}


.Select-location {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Select-location select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.Select-location {
    max-width: 250px;
    position: relative;
}

.Select-location select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #313030;
    color: #b43030;
    font-size: 1em;
    color: #FF670A;
    font-family:
        'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.Select-location select:hover {
    background: #4e4e4e;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.Select-locationt i {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #313030;
    border-bottom: 4px solid #313030;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.Select-location:hover i {
    margin-top: 3px;
}


.server-box,
.component-box {
    background-color: #ff3333;
}

.server-box-N-Servidores {
    background-color: #2cbe00;
}

.server-box .value,
.component-box .value {
    font-size: 40px;
    letter-spacing: 1px;
}

.search {
    display: flex;
    padding-left: 5vw;
    padding-right: 1vw;
    gap: 1vw;
    margin-top: 5vw;
}

.search select {
    background-color: #313030;
    width: 20%;
    height: auto;
    border: none;
    border-radius: 5px;
    padding: 0.5vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1vw;
    cursor: pointer;
    color: #fff;
    outline: 0;
    transition: .2s ease-out;
}

.search input {
    width: 100%;
    background-color: #313030;
    border: none;
    border-radius: 5px;
    padding-left: 1vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1vw;
    color: #fff;
    outline: 0;
    transition: .3s ease;
}

textarea:focus,
input:focus {
    border: 1px solid #b0b0b0 !important;
}

.search input:hover {
    background-color: #4a4a4a;

}

.search button {
    width: 20%;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #FF0000, #FF670A);
    transition: background-color 0.3 ease;
    cursor: pointer;
}

.search button:hover {
    background-image: linear-gradient(to right, #c00101, #b04502);
}

.container {
    padding-left: 5vw;
    padding-right: 1vw;
}

.container .serverInfo {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    padding-left: 2vw;
    margin-top: 1vw;
    align-items: center;
    text-align: center;
    font-size: 1vw;
}

.serverIcon {
    display: flex;
    justify-content: center;
    width: 5%;

}


.serverName {
    width: 15%;
}

.serverName a {
    text-decoration: none;

}

.serverStatus {
    width: 20%;
}

.serverComponents {
    width: 30%;
}

.serverLocation {
    width: 20%;
}


.server-list {
    max-height: 31vw;
    overflow: none;
}

.container .serverInfo {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    padding-left: 2vw;
    margin-top: 1vw;
    align-items: center;
    text-align: center;
    font-size: 1vw;
}

.server-list {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 10px;
}

.slakk {
    width: 49%;
    transition: width 0.5s;
}


.regioes-card {
    display: flex;
    background-color: #313030;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5vw;
    border-radius: 10px;
    padding: 5px;
    padding: 0vw 2vw;
    align-items: center;
    text-align: center;
    font-size: 1.2vw;
    transition: ease-out .2s, transform 0.5s;
    height: 7rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.regioes-card:hover {
    background-color: #3e3e3e;
}

.regioes-card svg {
    transition: transform 0.5s;
}

.server-object {
    display: flex;
    background-color: #313030;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5vw;
    border-radius: 10px;
    padding: 5px;
    padding-left: 2vw;
    align-items: center;
    text-align: center;
    font-size: 1vw;
    transition: ease-out .2s;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.server-object:hover {
    background-color: #3e3e3e;
}

.server-object progress {
    border: none;
    border-radius: 5px;
    width: 10vw;
    height: 0.3vw;
    background-color: #000000;

}

.server-icon-status {
    width: 1.5vw;
}

progress::-moz-progress-bar {
    background-color: #FF670A;
}

.container-boxes-down {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 35px;
    padding: 2rem 1vw;
    background-color: #3f3f3f;
    margin-left: 5vw;
    margin-right: 1vw;
    border-radius: 10px;
}

.container-boxes-title {
    text-align: center;
    width: 100%;
}

.container-boxes-title {
    font-size: 20px;
}

.boxes-subtitle {
    font-size: 18px;
    color: rgb(186, 186, 186);
}

.container-boxes-comp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}

.container-boxes-comp div p {
    text-align: start;
}

.box-card {
    display: flex;
    width: 29vw;
    height: 16vh;
    justify-content: space-around;
    background-color: #313030;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.box-card div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.label-box {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.value-box {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    color: #FF670A;
}


.popup_sair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #000000e1;
    text-align: center;

}

.popup_sair h1 {
    font-size: 2vw;
    font-weight: 100;
}

.popup_sair button {
    background-color: #FF670A;
    color: black;
    width: 10vw;
    border: none;
    border-radius: 20px;
    font-size: 1.2vw;
    transition: .4s ease-in-out;
    margin-top: 1vw;
    cursor: pointer;

}

.popup_sair button:hover {
    background-color: #313030;
    color: white;
    width: 12vw;
    font-size: 1.4vw;


}


/* Graficos*/

.containerGraficos {
    display: flex;
    width: 100%;
    height: 45%;
}

.mapaCalor {
    flex: 1;
    width: 50%;
    height: 240%;
}

.graficoLinha {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 170%;
    gap: 1%;
    margin-right: 2%;
}

 #linhaBrasil:hover {
    background: rgba(255, 255, 255, 0.08);
    transform: scale(1.01);
}

.titulo-grafico {
    font-size: 22px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff8c00, #ffcb52);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: -15px; 
    padding-left: 3%;
}

.graficoLinha #linhaBrasil {
    background-color: #313030;
    border: #5c5c5c solid 1px ;
    border-radius: 30px;
}

#linhaBrasil {
    flex: 5;

}

#mapBrasil {
    height: 100%;
    width: 50%;
}


/* Mapa de calor css */

html,
body,
#mapBrasil {
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
}


/* JOGOS */

.lista-jogos {
    width: 100%;
    font-family: Arial, sans-serif;
    color: white;
    margin-bottom: 7%;
}

.legenda {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #cccccc;
}

.legenda-foto {
    font-size: 20px;
    font-weight: 700;
    padding-left: 3%;
    background: linear-gradient(90deg, #ff8c00, #ffcb52);
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
}

.linha-jogo {
    width: 750px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 12px;
    margin-bottom: 12px;
    backdrop-filter: blur(12px);
    transition: 0.3s ease;
    background-size: cover;
    background-position: center;
}

.linha-jogo:hover {
    background: rgba(255, 255, 255, 0.08);
    transform: scale(1.01);
}

.linha-jogo::before{
     content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.jogo-foto {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.jogo-foto, .jogo-nome {
    position: relative;
    z-index: 2;
}

.jogo-nome {
    font-size: 20px;
    font-weight: 600;
    padding: 6px 18px;
    border-radius: 12px;
    color: #FF6E1A;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(35px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.info-box {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.info-box {
    position: relative; /* necessário para o tooltip */
}

.metric-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #111;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.75rem;
    white-space: nowrap;
    transition: 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
    border: 1px solid #333;
}

.metric-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
}

.info-box:hover .metric-tooltip {
    visibility: visible;
    opacity: 1;
}

#informacao{
    display: flex;
    justify-content: flex-end;
}