@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap');
@import url(./popup.css);


.containerPerfil {
    margin-top: 7vw;
    padding-left: 5vw;
    padding-right: 1vw;
    text-align: center;
}

#buttonEditar {
    background-color: #FF6D4D;
    width: 14vw;
    height: 5vh;
    border-radius: 1vw;
    margin-top: 2vw;
    border: none;
    font-size: 1.0vw;
    transition: .3s ease-in-out;
}

#buttonEditar:hover {
  background: linear-gradient(135deg, #FF3C00, #C90000);
  width: 15;
  height: 6vh;
}

#buttonEditar:active {
  cursor: pointer;
  width: 40vw;
  height: 5vh;
  border-radius: 1vw;
  border: solid white 1px;
  background-color: #c00000;
  font-size: 1.1vw;
}

#perfilFoto {
    width: 10vw;
    object-fit: cover;
    border-radius: 100px;
}

a {
    text-decoration: none;
}
