@import url('colors.css');

/* Inputs */
.containerDesktop .heroPage .inputs {
    overflow-y: auto;
    height: 30vh;
    width: 100%;
    margin-bottom: 5vh;
}

.containerDesktop .heroPage .inputs .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 3vw;
}

.containerDesktop .heroPage .inputs .input input {
    background: none;
    font-size: var(--font-size-input);
    padding-left: 0.8vw;
    color: var(--color-text-primary);
    width: 100%;
    height: 5vh;
    border-radius: var(--btn-border-radius);
    border: 0.1vw solid var(--color-text-primary);
}

.containerDesktop .heroPage .inputs .input input::placeholder {
    color: rgb(110, 110, 110);
}

.erroInput {
    border: 2px solid var(--color-error) !important;
    background-color: var(--color-error-bg);
    transition: 0.3s;
}