body {
    background-color: black;
}

.bannerDesktop {
    background-image: url(../../assets/home/desktop/background.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

/* Hero */

.containerDesktop {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerDesktop .heroPage {
    margin-top: 20vh;
    width: 40%;
    min-height: 70vh;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.627);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative; 
    z-index: 2; 
    margin-bottom: 5vw;

}

.containerDesktop .heroPage h1 {
    font-weight: 100;
    line-height: 1.1;
    text-align: center;
    font-size: 2.34vw;
    margin-bottom: 4vw;
    margin-top: 5vw;
}

.containerDesktop .heroPage p {
    margin-top: 1.57vh;
    font-size: 1.17vw;
}

.containerDesktop .heroPage a{
    text-decoration: none;
    background: none;
    color: #FF6D4D;

}
.containerDesktop .heroPage a:hover{
    background: none;
    color: #ff2f00;

}


.containerDesktop .heroPage img {
    margin-top: 2vh;
    width: 36.66vw;
    height: 41.18vh;
}

.containerDesktop .heroPage .btnImage {
    margin-top: 2vh;
    width: 8%;
    height: 6%;
    opacity: 80%;
}
.containerDesktop .heroPage .btnImage:hover {
    cursor: pointer;
    margin-top: 2vh;
    width: 8%;
    height: 6%;
    opacity: 100%;
}
/* inputs */
input {
    font-size: 1vw;
    padding-left: 0.8vw;
}

.containerDesktop .heroPage input{
    background: none;
    color: #fff;
    width: 80%;
    height: 7%;
    border-radius: 20px;
    border-color: #fff;
}


.containerDesktop .heroPage input::placeholder {
    color: rgb(110, 110, 110);
    opacity: 1;
}

/* Div para mensagem de erro */
#mensagem_erro {
    background-color: #FF6D4D;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}


/* Footer */
.containerDesktop .footer {
    margin-top: -15vh;
    width: 100%;
    height: 25vh;
    background-color: black;
    position: relative;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.containerDesktop .footer .links {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerDesktop .footer p {
    font-size: 1.3vw;
    font-weight: 400;
}


.containerDesktop .footer .links a {
    font-size: 1.5vw;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

/* Animações do footer */
.containerDesktop .footer .links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .22vw;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: transform 0.4s ease-out;
    transform-origin: bottom center;
}

.containerDesktop .footer .links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.inputs {
    display: flex;
    gap: 1vw;
    align-items: center;
    width: 80%;
    margin-top: 0.5vw;
}

.inputs p{
    max-width: 30%;
    width: 30%;
}
