@import url('colors.css');

.contato-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2vw;
  background-color: var(--color-bg-input);
  border-radius: 10px;
}

.contato-form label {
  display: block;
  margin-bottom: 0.5vw;
  font-size: 1vw;
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  padding: 0.8vw;
  margin-bottom: 1vw;
  border-radius: 5px;
  border: none;
  background-color: #1a1a1a;
  color: var(--color-text-primary);
}

.contato-form button {
  background-color: var(--color-bg-card);
  color: var(--color-text-secondary);
  border: none;
  padding: 1vw 2vw;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contato-form button:hover {
  background-color: var(--color-text-highlight);
  color: var(--color-text-primary);
}
