body {
  background-color: #000;
}

.bannerDesktop {
  background-image: url(../../assets/home/desktop/background.svg);
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.containerDesktop {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero */

.containerDesktop .heroPage {
  margin-top: 10.55vh;
  min-height: 89.54vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.containerDesktop .heroPage h1 {
  width: 50rem;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  font-size: 2.3rem;
  margin: 2.5rem 2.5rem 0 2.5rem
}

.containerDesktop .heroPage p {
  margin: 2vh 5vh;
  font-size: 1.3rem;
  text-align: center;
}

.containerDesktop .heroPage a {
  margin-top: 2.5vh;
  text-decoration: none;
  padding-inline: 1.5rem;
  font-size: 1.7rem;
  color: #000;
  background: #FF6D4D;
  border-radius: 40px;
  transition: transform .3s ease, box-shadow .3s ease;
}

.containerDesktop .heroPage a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.containerDesktop .heroPage img {
  margin: 15vh 0;
  height: 20rem;
}

/* Explication */

.containerDesktop .explication {
  background-color: #FF6D4D;
  border-color: #000;
  border-style: dashed none;
  border-width: .5vw;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerDesktop .explication .cards {
  width: 100%;
  gap: 2vh;
  padding: 10vh 0 10vh 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.containerDesktop .explication .card {
  width: fit-content;
  padding-inline: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.containerDesktop .explication .card img {
  margin-bottom: .5vh;
  width: 6rem;
  min-width: 10vh;
  min-height: 15vh;
  height: 8rem;
}

.containerDesktop .explication .card p {
  width: 9rem;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.1;
  color: #000;
}

/* Vantagens */

.containerDesktop .vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #000;
  margin-bottom: 15vh;
}

.containerDesktop .vantagens h1 {
  margin-top: 9.11vh;
  font-weight: 400;
  font-size: 3.4rem;
  color: #fff;
  text-align: center;
}

.containerDesktop .vantagens h1 span {
  color: #FF6D4D;
  font-weight: 600;
}



.containerDesktop .vantagens .cards {
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  width: 100%;
  flex-wrap: wrap;
}

.containerDesktop .vantagens .cards .card {
  position: relative;
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFA794;
  border-radius: 1vw;
  padding: 3rem;
  margin-top: 10vh;
}

.containerDesktop .vantagens .cards .card img {
  position: absolute;
  top: -7rem;
  left: 1.5rem;
  width: 6.51rem;
  height: 11.58rem;
}

.containerDesktop .vantagens .cards .card h2 {
  line-height: 1.1;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  color: #000;
}


.containerDesktop .vantagens .cards .card p {
  width: 23rem;
  margin-top: 1.8vh;
  line-height: 1.1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
  text-align: center;
}

.containerDesktop .vantagens a {
  padding: 15vh 0vh;
  line-height: 1.3;
  text-align: center;
  margin-top: 10vh;
  text-decoration: none;
  padding-inline: 1.9vw;
  padding-block: 1.3vh;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  background: #FF6D4D;
  border-radius: 40px;
  transition: transform .3s ease, box-shadow .3s ease;
}

.containerDesktop .vantagens a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.bannerMobile {
  display: none;
}

.containerMobile {
  display: none;
}


/* Responsividade */
@media (max-width: 768px) {
  .bannerDesktop {
    display: none;
  }

  .bannerMobile {
    display: block;
    background-image: url(../../assets/home/mobile/banner.svg);
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }

  .containerDesktop {
    display: none;
  }

  .containerMobile {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerMobile .heroPage {
    margin-top: 10.55vh;
    height: 89.54vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

  }

  .containerMobile .heroPage h1 {
    width: 80vw;
    font-weight: 200;
    line-height: 1.1;
    text-align: right;
    font-size: 8vw;
  }

  .containerMobile .heroPage a {
    margin-top: 2.5vh;
    text-decoration: none;
    padding-inline: 18vw;
    font-size: 6vw;
    color: #fff;
    background: #FF6D4D;
    border-radius: 40px;
    transition: transform .3s ease, box-shadow .3s ease;
  }

  .containerMobile .heroPage a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }


  /* Explication */
  .containerMobile .explication {
    background-color: #FF6D4D;
    border-color: #000;
    border-style: dashed none;
    border-width: .5rem;

    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding-block: 5vh;
  }

  .containerMobile .explication .card {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .containerMobile .explication .card img {
    width: 22vw;
    height: fit-content;
    padding-block: 2vh;
    margin-bottom: .5vh;
  }

  .containerMobile .explication .card p {
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.1;
    color: #000;
  }



  /* Vantagens */

  .containerMobile .vantagens {
    margin-top: 9.11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .containerMobile .vantagens h1 {
    text-align: center;
    width: 80vw;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
  }

  .containerMobile .vantagens h1 span {
    color: #FF6D4D;
    font-weight: 600;
  }



  .containerMobile .vantagens .cards {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 80%;
    height: fit-content;
    gap: 5vh;
  }

  .containerMobile .vantagens .cards .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 90%;
    background-color: #FFA794;
    border-radius: 1vw;
  }

  .containerMobile .vantagens .cards .card img {
    position: absolute;
    top: -6vh;
    left: 1vw;
    width: 6.51vw;
    height: 11.58vh;
  }

  .containerMobile .vantagens .cards .card h2 {
    line-height: 1.1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
  }


  .containerMobile .vantagens .cards .card p {
    width: 80%;
    margin-top: 1.7vh;
    line-height: 1.1;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 300;
    color: #000;
    text-align: center;
  }

  .containerMobile .vantagens a {
    width: fit-content;

    text-align: center;
    margin-top: 5vh;
    text-decoration: none;
    padding-inline: 1.8rem;
    padding-block: 1.2vh;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    background: #FF6D4D;
    border-radius: 40px;
    transition: transform .3s ease, box-shadow .3s ease;
  }

  .containerMobile .vantagens a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

}